
paleta de cor{
    color: #fae0e4;
    color: #f7cad0;
    color: #fbb1bd;
    color: #ff85a1;
    color: #ff7096;
    color: #ff5c8a;
    color: #ff477e;
    color: #ff0a54;
}





.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
  }

.collapse.show {
    transition: height 0.5s ease;
  }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(34, 34, 34);  
    text-align: center;
  }
  
.rodapetexto{
    text-align: center;
    margin: 30px;
    color: white;

}

.menu-backgorund {
    background-color: rgb(34, 34, 34);
  }

.menu-texto{
    color:white;

}

.navbar-toggler-icon{
    color: #ff0a54;
}

.nav-link:hover,.btn:hover,.navbar-brand:hover,.navbar-toggler:hover {
    color: #ff0a54;
  }

  
main {
    position: relative;
    padding-bottom: 100px;
  }

body{
    background-color:rgb(34, 34, 34);

  }
