
paleta de cor{
    color: #fae0e4;
    color: #f7cad0;
    color: #fbb1bd;
    color: #ff85a1;
    color: #ff7096;
    color: #ff5c8a;
    color: #ff477e;
    color: #ff0a54;
}


.navbar-brand{
    margin-right: 190px;
}

.nav-item{
    margin-right: 30px;
    margin-left: 10px;

}

.textopainel{
    margin-bottom: 60px;
    margin-top: 60px;
}

.row{
    margin: 10px;
    align-items: center;
    
    
}

.rounded{
    width: 200px ;
    margin-bottom: 60px;
    align-items: center;
}

h2{
    text-align: center;
}

.col-8{
    text-align: right;
}

.quali{
    margin: 10px;
    align-items: center;
    margin-left: 37%;
    width: 80%;

}

.flushtamanho{
    margin-left: 400px;
    margin-right: 400px;
}